venv/
__pycache__/
*.pyc
model.json
target_flask/
real_findings.json
findings_*.txt
target_bandit/
bandit_examples.json
*.baktarget_flask_config/
flask_config_findings.json
target_vuln/
vuln_findings.json
target_insecure_app/
insecure_app_findings.json
